@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100%));
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

/* ซ่อนปุ่ม spinner สำหรับ WebKit (Chrome, Safari) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ซ่อนปุ่ม spinner สำหรับ Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
